{% extends "template.html" %}
{% block content %}
      <div class="container-xxl flex-grow-1 container-p-y">
       <div class="row">
        <div class="col-lg-12 order-0">
         <div class="card" style="border-radius: 10px 10px 0px 0px;">
          <div class="d-flex align-items-end row">
           <div class="col-sm-12">
            <div class="card-body" >
             <div class="row">
              <div class="col-md-9"> 
                <h2 style="color: #91c84a;">Listado de libros</h2>
              </div>
              <div class="col-md-3">
                <a href="/books/crear" class="btn btn-primary d-grid  float-end" type="submit" style="background-color: #9aa8d7; border: 1px solid #373435; color: #373435; font-weight: bold;">Crear Libro</a>
              </div>
            </div>
             <table id="myTable" class="display responsive" style="width:100%">
              <thead>
               <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Pais</th>
                <th>Lenguaje</th>
                <th>Año</th>
                <th>Link</th>
                <th>Acciones</th>
               </tr>
              </thead>
              <tbody>
               {% for libro in books %}
               <tr>
                <td>{{ libro['title'] }}</td>
                <td>{{ libro['author'] }}</td>
                <td>{{ libro['country'] }}</td>
                <td>{{ libro['language'] }}</td>
                <td>{{ libro['year'] }}</td>
                <td>{{ libro['link'] }}</td>
                 <td>
                  <a href="/books/editar/{{ libro['title'] }}"><i class="fa fa-pen-nib"></i></a>
                  <a href="/books/borrar/{{ libro['title'] }}"><i class="fa fa-trash"></i></a>
                </td>
               </tr>
               {% endfor %}
              </tbody>
             </table>
             <div class="custom-buttons-container">
              <button id="printButton" class="custom-button"><img src="{{ url_for('static', filename='assets/img/delta/bt - imprimir.png')}}" alt="IMPRIMIR" style="width: 9%;" />Imprimir</button>
              <button id="pdfButton" class="custom-button"><img src="{{ url_for('static', filename='assets/img/delta/bt - pdf.png')}}" alt="PDF" style="width: 9%;" />Exportar como PDF</button>
              <button id="excelButton" class="custom-button"><img src="{{ url_for('static', filename='assets/img/delta/bt - xls.png')}}" alt="Excel" style="width: 9%;" />Exportar como XLS (Excel)</button>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
        <div style="height: 20px;"></div>
      </div>
{% endblock %}