{% extends "template.html" %}
{% block content %}
      <div class="container-xxl flex-grow-1 container-p-y">
       <div class="row">
        <div class="col-lg-12 order-0">
         <div class="card" style="border-radius: 10px 10px 0px 0px;">
          <div class="d-flex align-items-end row">
           <div class="col-sm-12">
            <div class="card-body">
             <h1 style="color: #91c84a;">Editar Libro</h1>
              <form class="mb-3" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control" id="autor" name="author" placeholder="Ingrese el autor"
                    @if book:
                      value="{{book.author}}"
                    @else:
                      required
                    @endif
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título"
                    @if book:
                      value="{{book.title}}"
                    @else:
                      required
                    @endif
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="country">País</label>
                    <input type="text" class="form-control" id="country" name="country" placeholder="Ingrese el país"
                    @if book:
                      value="{{book.country}}"
                    @else:
                      required
                    @endif                    
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="language">Lenguaje</label>
                    <input type="text" class="form-control" id="language" name="language" placeholder="Ingrese el Lenguaje"
                    @if book:
                     value="{{book.language}}"
                    @else:
                     required
                    @endif
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="country">Link</label>
                    <input type="text" class="form-control" id="link" name="link" placeholder="Ingrese el link"
                    @if book:
                      value="{{book.link}}"
                    @else:
                      required
                    @endif
                    />
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="imageLink">Link de imagen</label>
                    <input type="text" class="form-control" id="imageLink" name="imageLink" placeholder="Ingrese el Link de imagen"
                    @if book:
                     value="{{book.imageLink}}"
                    @else:
                     required
                    @endif
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="pages">Número De Páginas</label>
                    <input type="number" class="form-control" id="pages" name="pages" placeholder="Ingrese el Número de Páginas"
                    @if book:
                      value="{{book.pages}}"
                    @else:
                      required
                    @endif
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="year">Año De Creación</label>
                    <input type="number" class="form-control" id="year" name="year" placeholder="Ingrese el Año"
                    @if book:
                      value="{{book.year}}"
                    @else:
                      required
                    @endif
                    />
                  </div>
                </div>

                <br clear="all">
                   <div class="mb-3">
                    <button class="btn btn-primary d-grid float-end" type="submit" style="background-color: #9aa8d7; border: 1px solid #373435; color: #373435; font-weight: bold; margin-bottom: 15px;">CARGAR</button>
                   </div>
                  </form>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
{% endblock %}